<a href="https://colab.research.google.com/github/Patela171/pandas/blob/main/WorldCities.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
import pandas as pd

In [44]:
df = pd.read_csv("worldcitiespop.csv")

In [52]:
print(df.columns.tolist())
Canada = df[df["country"]=='ca']

['name', 'country', 'subcountry', 'geonameid']

In [ ]:
Canada[Canada["region"]==8].sort_values("population", ascending=False)

KeyError: 'region'

#Find the top 5 biggest cities in Ontario.

**Toronto, Ottawa, Hamilton, Kitchener, London**

In [39]:
CanadaGroup = Canada.sort_values("Population", ascending = False).groupby("Region")

NameError: name 'Canada' is not defined

In [ ]:
CanadaGroup.head(1).sort_values("Region")

#Get the largest city, by population, in every country in the world

In [ ]:
World = df.dropna()

In [ ]:
WorldGroup = World.sort_values("Population", ascending = False).groupby("Country").head(1)
WorldGroup

,Country,City,AccentCity,Region,Population,Latitude,Longitude
1544449,jp,tokyo,Tokyo,40,31480498.0,35.685000,139.751389
570824,cn,shanghai,Shanghai,23,14608512.0,31.045556,121.399722
1327914,in,bombay,Bombay,16.0,12692717.0,18.975000,72.825833
2200161,pk,karachi,Karachi,05,11627378.0,24.905600,67.082200
2130459,ph,manila,Manila,D9,10443877.0,14.604200,120.982200
...,...,...,...,...,...,...,...
3111653,wf,alele,Alele,00,901.0,-13.233333,-176.150000
2622748,sh,jamestown,Jamestown,0.0,637.0,-15.933333,-5.716667
2838410,tv,asau,Asau,0,628.0,-7.500000,178.666667
2047973,nu,alofi,Alofi,00,624.0,-19.016667,-169.916667
2693800,tf,port-aux-francais,Port-aux-Français,0.0,45.0,-49.350000,70.216667

#:Get the total population of every state in the US

In [ ]:
States = df[df["Country"] == 'us'].dropna()

In [ ]:
States.sort_values("Population", ascending = False).groupby("Region").sum().sort_values("Population", ascending = False)

<ipython-input-80-18e4c094f8e2>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  States.sort_values("Population", ascending = False).groupby("Region").sum().sort_values("Population", ascending = False)

        Population      Latitude     Longitude
Region
CA      30890865.0  15951.056667 -53437.130278
TX      15469123.0   7382.010555 -23143.598611
NY      12992289.0   7678.333889 -13775.321667
FL      10571845.0   7271.413333 -21514.603332
IL       9219107.0   9137.508778 -19536.026989
OH       6273903.0   7516.434722 -15284.231944
MA       5988064.0   7604.603055 -12842.998890
NJ       4892285.0   6931.695278 -12716.387500
AZ       4838335.0   1701.626111  -5710.305834
MI       4725467.0   4783.220000  -9411.639167
VA       3788046.0   3004.200556  -6149.968056
PA       3787840.0   3890.257222  -7423.213334
WA       3602703.0   4591.591666 -11812.766389
NC       3582195.0   2703.561945  -6049.586389
MD       3355265.0   4107.837500  -8063.482222
CO       3324054.0   2329.999722  -6215.156389
IN       3223120.0   3267.679722  -6990.537500
MN       3213199.0   4368.092778  -9070.854445
WI       2955126.0   3881.139722  -7900.528333
TN       2859304.0   2185.684722  -5260.392222
GA       2823939.0   3383.432778  -8546.768333
MO       2705078.0   3115.008889  -7434.103611
CT       2472487.0   3029.856667  -5312.779167
OR       2153641.0   2326.336111  -6364.763333
LA       2070439.0   1437.682778  -4291.265278
OK       2039466.0   1532.633611  -4180.881667
NV       2015956.0    684.598333  -2101.331667
AL       1995225.0   1922.789722  -5022.337222
KS       1970600.0   1495.453611  -3757.325000
UT       1784535.0   1981.461389  -5487.518334
PR       1749941.0   1405.453055  -5113.375000
IA       1424739.0   1716.371944  -3810.748056
KY       1343164.0   1633.333611  -3676.476667
SC       1219592.0   1634.277222  -3892.240833
AR       1212898.0   1400.855278  -3700.572778
NM       1190932.0   1243.707778  -3819.337778
NH       1060359.0   3669.936667  -6071.736111
MS       1021540.0   1235.049445  -3407.347222
NE        979290.0    659.148889  -1564.993611
RI        959112.0   1334.885556  -2287.053611
ME        808069.0   3096.603056  -4888.676111
HI        796033.0    446.320000  -3310.313333
ID        563632.0   1237.488056  -3221.616945
DC        552433.0     38.895000    -77.036667
AK        425708.0    980.386944  -2386.355278
MT        415328.0    981.138611  -2330.321667
SD        368239.0    705.633055  -1591.299444
WV        341189.0    623.838611  -1295.388056
ND        334694.0    615.181667  -1289.704167
WY        277480.0    728.041944  -1829.249445
VT        254239.0   1280.425556  -2111.423611
DE        241288.0    591.616389  -1133.710278